<footer class="site-footer">
  <div class="footer-logos">
    <img src="/images/Main Logo V2.png" alt="YTX Main Logo">
    <img src="/images/Media tagline.png" alt="YTX Tagline Logo">
    <img src="/images/Logo Variation 2.png" alt="YTX Icon Logo">
  </div>

  <div class="footer-socials">
    <a href="https://instagram.com/ytxmedia" target="_blank" class="social-icon instagram" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://tiktok.com/@ytxmedia" target="_blank" class="social-icon tiktok" title="TikTok">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://youtube.com/@ytxmedia" target="_blank" class="social-icon youtube" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://facebook.com/ytxmedia" target="_blank" class="social-icon facebook" title="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>

  <p class="copyright">&copy; <%= new Date().getFullYear() %> YTX Media. All rights reserved.</p>
</footer>
</body>
</html>
